<h1><%= @doctor.name %></h1>
<h2>Department: <%= @doctor.department %></h2>

  <%= @appointments.each do |appt| %>
    <li>Patient name: <%= appt.patient_name %></li>
    <li>Appointment Time: <%= appt.appointment_datetime.to_formatted_s(:long) %></li>
    <% end %>
