<h1><%= @doctor.name %></h1>
<p>Department: <%= @doctor.department %></p>
<ul>
  <%= @appointments.each do |appt| %>
    <li>Patient name: <%= appt.patient_name %></li>
    <li>Appt Time: <%= appt.appointment_datetime %></li>
    <% end %>
</ul>
