<h1><%= @doctor.name %></h1>
<h2>Department: <%= @doctor.department %></h2>

  <%= @appointments.each do |appt| %>
    <li>Patient name: <%= appt.patient_name %></li>
    <li>Appointment Time: <%= appt.appointment_datetime.readable_time %> at <%= appt.appointment_datetime.strftime("%H:%M") %></li>
    <% end %>
